html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  border: none; /* Remove default border */
  border-radius: 4px; /* Slightly rounded corners */
  padding: 0.5rem 1rem; /* Padding inside button */
  font-size: 1rem; /* Text size in button */
  cursor: pointer; /* Changes cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}
button:hover {
  background-color: #0056b3; /* Darken the background on hover */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}