#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
  font-size: 1.8rem;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  color: #0B0909;
}

button {
  background-color: #007bff;
  color: #fff;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #212429;
  }
}
